<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <h3 class="mb-4">ABOUT US</h3>
                <p>Far far away, behind the word mountains,
                    far from the countries Vokalia and Consonantia, there live the blind texts.</p>

            </div>
            <div class="col-lg-4 col-md-12">
                <h3 class="mb-4">SERVICES</h3>
                <p>Cooked</p>
                <p>Delivered</p>
                <p>Quality Foods</p>
                <p>Mix</p>
            </div>
            <div class="col-lg-4 col-md-12">
                <h3 class="mb-4">HAVE A QUESTIONS? </h3>
                <p>203 Fake St. Mountain View, <br> San Francisco, California, USA</p>
                <p>+2 392 3929 210 </p>
                <p> info@yourdomain.com</p>
            </div>
        </div>
        <div class="row text-center mt-5">
            <h4 class="text-center m-auto">Copyright ©2021 All rights reserved | This template is made with by Colorlib
            </h4>
        </div>
    </div>
</footer>