.navbar {
  position: absolute;
  background-color: transparent !important;
  z-index: 2;
  width: 100%;
  border-bottom: 0.1px solid rgba(231, 221, 221, 0.3);
}
.navbar-nav > .nav-item > .nav-link {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
}
.navbar-brand {
  color: #ffffff;
  text-transform: uppercase;
}
.navbar-brand span {
  display: block;
  font-size: 2rem;
  line-height: 1.8rem;
  letter-spacing: 0.5rem;
}
.navbar-brand span small {
  display: block;
  font-size: 1.2rem;
}
.navbar-nav > .nav-item > .nav-link.active,
.drop .dropdown > .dropbtn.active {
  color: #c49b63;
}
.drop .dropdown > .dropbtn {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0d0d0d;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  z-index: 1;
  /* top: 25px; */
}

.dropdown-content a {
  color: #aaaaaa;
  text-decoration: none;
  display: block;
  padding: 5px 0;
  padding-left: 10px;
}

.dropdown-content a:hover {
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
