<section class="services text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="content">
                    <div class="icon-serv">
                        <img src="../assets/images/choices.png" alt="">
                    </div>
                    <h4 class="mb-4 mt-4">EASY TO ORDER</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content">
                    <div class="icon-serv">
                        <img src="../assets/images/delivery-truck.png" alt="">
                    </div>
                    <h4 class="mb-4 mt-4">FASTEST DELIVERY </h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content">
                    <div class="icon-serv">
                        <img src="../assets/images/coffee.png" alt="">
                    </div>
                    <h4 class="mb-4 mt-4">QUALITY COFFEE </h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                </div>
            </div>
        </div>
    </div>
</section>