.mainSectionShared {
  background-attachment: fixed;
  background-image: url("../../../../../assets/images/bg_3.jpg");
  height: 100vh;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}
.mainSectionShared .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  flex-direction: column;
  text-align: center;
}
.mainSectionShared .overlay a {
  /* margin: 5px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
}
.mainSectionShared .overlay a:first-child {
  color: #cccccc;
  margin-right: 5px;
}
.mainSectionShared .overlay a:last-child {
  color: #aaaaaa;
}

.mainSectionShared .bottom-con {
  text-align: center;
  justify-content: center;
}
