ngb-carousel img {
  width: 100%;
  height: 100vh;
}
/* ngb-carousel h1 {
} */
.subheading {
  margin-bottom: 20px;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 3px;
  color: #c49b63;
  font-family: "Great Vibes", cursive;
}
.carousel-caption h1 {
  font-size: 3rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.carousel-caption p {
  font-size: 1.2rem;
}

.links-content {
  margin-bottom: 110px;
}
.links-content > div {
  margin: 0px 10px;
}
.links-content > div.order {
  background-color: #c49b63;
  border: 1px solid transparent;
}
.links-content > div {
  border: 1px solid #eeeeee;
  color: #ffffff;
  padding: 1rem 2rem;
  transition: 0.5s all ease-in-out;
}
.links-content > div a {
  color: #ffffff;
  text-decoration: none;
}

.links-content > div.order:hover {
  background-color: transparent;
  color: #c49b63;
  border: 1px solid #c49b63;
}
.links-content > div.menus:hover {
  background-color: #c49b63;
  border: 1px solid transparent;
}
@media (max-width: 800px) {
  .carousel-caption h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .links-content > div a {
    font-size: 0.8rem;
  }
  .links-content > div {
    padding: 0.5rem 1rem;
  }
  .gallery {
    display: none !important;
  }
  .menu .toTop {
    margin-top: 20px !important;
  }
}

.booking {
  background-color: black;
  padding: 2rem 0;
  color: #ffffff;
  position: relative;
}
.booking p {
  color: #686868;
}
.booking .overlay {
  position: absolute;
  right: 0;
  width: 32%;
  padding: 30px 0;
  background-color: #c49b63;
  bottom: 0;
}
.booking input,
.booking textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #cccccc;
  color: #ffffff;
  border-radius: 0;
  padding: 0;
}
.booking input::placeholder,
.booking textarea::placeholder {
  color: #ffffff;
}
.booking input:focus,
.booking textarea:focus {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #cccccc;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
/* .booking input[type="date"]::-webkit-calendar-picker-indicator {
  color: red;
  opacity: 1;
} */
.booking form {
  font-size: 1rem;
}
.booking textarea {
  height: 50px;
}
.booking form button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #ffffff;
}
.booking form button:hover {
  color: #ffffff;
  background-color: black;
}
@media (max-width: 1430px) {
  .booking .overlay {
    position: relative;
    width: 100%;
    padding: 30px 0;
    background-color: #c49b63;
  }
}
.booking img {
  width: 20px;
}

.menu {
  padding: 100px 0 30px 0;
}
.menu .subheading {
  font-size: 3rem;
  margin-bottom: -1.8rem;
}
.menu h2 {
  font-size: 3rem;
  color: #ffffff;
}
.menu .toTop {
  margin-top: -25px;
}
.menu p {
  color: #686868;
}
.menu a {
  padding: 0.8rem 1.7rem;
  border: 1px solid #c49b63;
  color: #c49b63;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}
.menu a:hover {
  background-color: #c49b63;
  color: #ffffff;
}

.details {
  background-image: url("../../../../assets/images/bg_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 7rem 0;
}

.details .image-detail {
  box-sizing: content-box;
  border: 1px solid #c49b63;
  margin-bottom: 20px;
  width: 5rem;
  margin: auto;
  height: 5rem;
  position: relative;
  transition: 0.5s all ease-in-out;
  margin-bottom: 1.6rem;
}
.details .image-detail .rotated {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: 0.5s all ease-in-out;
}
.details .image-detail .image-one {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details .image-detail:hover {
  border: 1px solid transparent;
}
.details .image-detail:hover .rotated {
  transform: rotate(45deg);
  background-color: rgb(0, 0, 0, 0.6);
}

.details .content-detail p {
  color: #c49b63;
  font-size: 2rem;
}
.details .content-detail h5 {
  color: #999b9b;
  font-size: 1.3rem;
}
.details .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 2;
}
.details .content-details {
  position: relative;
  z-index: 3;
}

.best {
  color: #999b9b;
}
.best .subheading {
  margin-bottom: -1.4rem;
  font-size: 3.5rem;
}
.best h2 {
  font-size: 3rem;
  color: #ffffff;
}
.best .name {
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
}
.best .name + p {
  font-size: 0.9rem;
}
.dishes .name + p {
  font-size: 1rem;
  line-height: 2rem;
}
.best .price {
  color: #ffffff;
  font-size: 1.4rem;
}
.best .addtocart {
  padding: 0.6rem 1.6rem;
  border: 1px solid #c49b63;
  color: #c49b63;
  font-size: 0.9rem;
  transition: 0.5s all ease-in-out;
  text-decoration: none;
}

.best .addtocart:hover {
  border: 1px solid transparent;
  background-color: #c49b63;
  color: #ffffff;
}

.dishes .tabs button {
  border: none;
  border-bottom: 2px solid #c49b63;
  color: #c49b63;
  margin: 10px;
  background-color: transparent;
  padding: 0.7rem 1.7rem;
  transition: 0.5s all ease-in-out;
}
.dishes .tabs button:hover,
.dishes .tabs button.active {
  background-color: #c49b63;
  color: #ffffff;
}

.testimonials {
  background-image: url("../../../../assets/images/bg_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 7rem 0 0 0;
}
.testimonials .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
}
.testimonials .test-content {
  position: relative;
  z-index: 3;
}
.testimonials .subheading {
  font-size: 3rem;
  margin-bottom: -1.8rem;
}
.testimonials .headah {
  font-size: 2.5rem;
  font-weight: bold;
}
.testimonials .desc {
  color: #686868;
}

.testimonials .says .box {
  width: 20%;
  display: inline-block;
  background-color: #c49b63;
  padding: 25px;
  font-size: 0.95rem;
}
.testimonials .says .box:nth-child(even) {
  background-color: #b18c59;
}
.testimonials .prof {
  overflow: hidden;
}
.testimonials .prof img {
  width: 50px;
  border-radius: 50%;
}
.testimonials .prof p {
  margin-bottom: 5px;
}
@media (max-width: 1015px) {
  .testimonials .says .box {
    width: 50%;
    margin-bottom: 10px;
  }
}
@media (max-width: 750px) {
  .testimonials .says .box {
    width: 100%;
    margin-bottom: 10px;
  }
}

.contact {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 7rem 0;
  color: #ffffff;
}
.contact input,
.contact textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #c49b63;
  border-radius: 0;
  color: #eeeeee;
}
.contact textarea {
  height: 80px;
}
.contact input::placeholder,
.contact textarea::placeholder {
  color: #eeeeee;
}
.contact input:focus,
.contact textarea:focus {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #c49b63;
}
.contact button {
  width: 100%;
  height: 80px;
  background-color: #c49b63;
  color: #ffffff;
  border: none;
}
