<app-shared-section-top></app-shared-section-top>
<section class="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4 mt-5">STARTER</h2>
                <div class="menu-item" *ngFor="let x of ['d', 'd', 'd', 'd']">
                    <div class="menu-content d-flex">
                        <img src="../assets/images/dish-1.jpg" alt="">
                        <div class="content">
                            <div class="d-flex justify-content-between">
                                <a routerLink="">
                                    <p>Cornish - Mackerel</p>
                                </a>
                                <p>$20.00</p>
                            </div>
                            <p>A small river named Duden flows by their place and supplies </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4 mt-5">MAIN DISH </h2>
                <div class="menu-item" *ngFor="let x of ['d', 'd', 'd', 'd']">
                    <div class="menu-content d-flex">
                        <img src="../assets/images/dish-2.jpg" alt="">
                        <div class="content">
                            <div class="d-flex justify-content-between">
                                <a routerLink="">
                                    <p>Cornish - Mackerel</p>
                                </a>
                                <p>$20.00</p>
                            </div>
                            <p>A small river named Duden flows by their place and supplies </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4 mt-5">DESSERTS </h2>
                <div class="menu-item" *ngFor="let x of ['d', 'd', 'd', 'd']">
                    <div class="menu-content d-flex">
                        <img src="../assets/images/dessert-1.jpg" alt="">
                        <div class="content">
                            <div class="d-flex justify-content-between">
                                <a routerLink="">
                                    <p>Cornish - Mackerel</p>
                                </a>
                                <p>$20.00</p>
                            </div>
                            <p>A small river named Duden flows by their place and supplies </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4 mt-5">DRINKS</h2>
                <div class="menu-item" *ngFor="let x of ['d', 'd', 'd', 'd']">
                    <div class="menu-content d-flex">
                        <img src="../assets/images/drink-1.jpg" alt="">
                        <div class="content">
                            <div class="d-flex justify-content-between">
                                <a routerLink="">
                                    <p>Cornish - Mackerel</p>
                                </a>
                                <p>$20.00</p>
                            </div>
                            <p>A small river named Duden flows by their place and supplies </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>