<app-shared-section-top></app-shared-section-top>
<section class="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" *ngFor="let cats of productsOfCategories">
                <h2 class="mb-4 mt-5" *ngIf="cats.catProducts.length > 0" data-aos="fade-up" data-aos-once="false"
                    data-aos-duration="500">{{cats.name | uppercase}}</h2>
                <div class="menu-item" *ngFor="let product of cats.catProducts" data-aos="fade-up" data-aos-once="false"
                    data-aos-duration="1000">
                    <div class="menu-content d-flex">
                        <img src="../assets/images/{{product.image}}" alt="">
                        <div class="content">
                            <div class="d-flex justify-content-between">
                                <a [routerLink]="['/product', product._id]">
                                    <p>{{product.name}}</p>
                                </a>
                                <p>${{product.price}}</p>
                            </div>
                            <p>A small river named Duden flows by their place and supplies </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>