<app-shared-section-top></app-shared-section-top>
<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h4>Contact Information </h4>
                <p class="add mt-5"><span>Address:</span> 198 West 21th Street, Suite 721 New York <br> NY 10016</p>
                <p class="other"><span>Phone:</span> + 1235 2355 98</p>
                <p class="other"><span>Email:</span> info@yoursite.com</p>
                <p class="other"><span>Website:</span> yoursite.com</p>
            </div>
            <div class="col-lg-7">
                <div class="con-form mt-5">
                    <form>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="email" class="form-control" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <textarea cols="30" class="form-control" rows="5" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="submit" value="Send Message">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>